
*{
  margin: 0px;
  padding: 0px;
}
	
html{
  scroll-behavior: smooth;
}

.top{
  display:flex;
  flex-direction:row;
  align-items: center;
  position:sticky;
}

.top>h1{
  align-self: center;
}

a{
color:white;
text-decoration:none;
}
body{
  background-color: #FF896D;
  font-family: Arial;
  position: relative;
  min-height: 100vh
}

ul{
  margin:0px;
  padding:0px;
  list-style:none;
}
ul > li > ul > li{
  display: none;
  width:auto;
}
ul li:hover ul li{
  display: block;
}
ul > li >a:hover{
  background:rgb(0, 0, 0);
  color: white;
  border-radius:20px;
  -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
  -webkit-mask-size: 200%;
  animation: shine 2s infinite;
}

@-webkit-keyframes shine {
  from {
  -webkit-mask-position: 150%;
  }
  to {
  -webkit-mask-position: -50%;
  }
}
@font-face{
  font-family:"HelveticaNow";
  src: url("img\\fonts\\HelveticaNow.otf") format("opentype");
}


#main-head nav{
	min-height:100px;
	display:flex;
	flex-direction:row;
    list-style-type:none;
    text-align:center;
    background:#7CCAC1;
    padding: 0 1%;
    margin:0;
    border-bottom:3px solid black;
    line-height:100px;
    font-family:"HelveticaNow";
    overflow : hidden;
}

#return{
    margin-right:2%;
    vertical-align:middle;
    max-height:20px !important;
    width:50px;
    height:50px;
}
#return:hover{
  cursor:pointer;
}

#return img {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
 
#return:hover img {
  -webkit-transform: rotate(-360deg);
  transform: rotate(-360deg);
}


li#return{
    width:50px;
    height:50px;
}

nav li{
    display:inline-block;
    padding:20px;
    top:50%;
}
nav ul{
	display:flex;
	flex-direction:row;
	flex:4;
	list-style:none;
}
nav ul::after{
    content:"";
    display:table;
    clear:both;
}
.under{
    display:none;
    box-shadow:0px 2px 2px rgb(255, 255, 255);
    background-color:rgba(0, 0, 0, 0.849);
    display:block;
    position:absolute;
    z-index:9999;
    line-height:20px;
}
.under li{
    float:none;
    text-align:center;
    line-height:none;
}

.deroulant{
    width:125px;
    text-align:center;
}

#logo{
flex:1;
text-align:center;
}
.bouton{
    flex:4;
}
#signup{
    background:#FD6643;
    border-radius:20px;
    font-size:inherit;
    color:#fff;
    box-shadow:none;
    border:none;
    text-shadow:none;
    padding:.5rem .8rem;
    transition:background-color 0.25s;
}
#signup:hover{
    background:#FF896D;
}
#button:hover{
    color:#f0f0f0;
}
#button:active{
    color:#fff;
    box-shadow:none;
    border:none;
    text-shadow:none;
    transition:background-color 0.25s;
}
#signup:active {
    background:#208f8f;
    border-radius:20px;
    font-size:inherit;
    color:#fff;
    box-shadow:none;
    border:none;
    text-shadow:none;
    padding:.5rem .8rem;
    transition:background-color 0.25s;
}

#deco{
    margin: 0;
    padding: 0;
    line-height: 100%;
    border: 0;
    background: inherit;
    font: inherit;
    color: white;
}
a, a:hover
{ outline: none;
text-decoration: none;
color: #ffffff;}
a:hover
{ text-decoration: none;}

blockquote
{ margin: 20px 0; 
padding: 10px 20px 0 20px;
border: 1px solid #858572;
background: #FFF;}

#etatunis{
    display: block;
    width: 400px;
    height:100px;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    line-height: 100px;
    margin:0px auto;
   
  
}

#suggestions{
  padding-bottom: 100px;
}

  #suggestions img {
       margin-left: 100px;
        width: 500px;
         height: 312px;    
        transition: all 1s ease-in-out;
    }
    #suggestions > div p{
        background-color: #019D8D;
        padding: 20px;
        height: 85.5%;
        max-width: 250px;
        color: white;        
        font-family: 'Montserrat', sans-serif;    
    }
    #suggestions > div div{
      font-size: 1.2em;
    }
   
  
    #suggestions > div{
      padding:  20px;
      flex: 1 1 auto;
      display: flex;
      flex-direction: row;
  }

    .suggestionss p{
      border-left: solid 10px  #33363B;
  }

    #suggestions img:hover {
  filter: grayscale(0);
  transform: scale(1.03);
}
#footer 
{ 
  position: absolute;
  bottom: 0;
  width: 100%;
  font-family: 'trebuchet ms', sans-serif;
  font-size: 100%;
  height: 80px;
  padding: 28px 0 5px 0;
  text-align: center; 
  background: #4BAFA4;
  border-top: 2px solid grey;
  color: #FFF;}

#footer  p
{ line-height: 1.7em;
  padding: 0 0 10px 0;}

#footer  a
{ color: #8FE461;
  text-decoration: none;}

#footer  a:hover
{ color: #FFF;
  text-decoration: none;}



